$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.2));
$font-size-h2: floor(($font-size-base * 1.6));

@import "bootstrap";
@charset "utf-8";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: image-url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
  height: auto;
  position: relative;
  padding-bottom: 110px;

  > .container {
    padding-bottom: 20px;
  }
}

header {
  h1, p {
    font-family: 'Orbitron', sans-serif;
  }

  p {
    color: #777777;
  }
}